.publicInputContainer {
    .publicInput {
        display: flex;
        padding-bottom: 10px;
        border-bottom: 1px solid $contentColor;
        margin-bottom: 25px;

        input {
            border: none;
            outline: none;
            color: $contentColor;
            flex: 1;
            margin-left: 12px;
            font-family: $fontLight;
        }
    }

}