$fontRegular: 'Poppins Regular';
$fontBold: 'Poppins Bold';
$fontLight: 'Poppins Light';

$primaryColor: #1B2C3F;
$secondaryColor: #65798D;
$selectedButonColor: #A6B8CB;
$backgroundColor: #16202C;
$contentColor: #F6F9F6;
$greyColor: #9098B1;
$disabledColor: #C8C8C8;
$textLinkColor: #40BFFF;


$desktopBreakpoint: 992px;